= turbo_frame_tag "corporation_form_frame" do
  .fr-alert.fr-alert--success.fr-mb-3w
    h3.fr-alert__title Les 2 structures sont renseignées et validées
    p.fr-mb-0 Vous pouvez passer à l'étape suivante.
