.form-group.form-group-select-max-candidates
  = form.label :max_candidates, class: 'fr-label' do
    = "Nombre total d'élèves que vous souhaitez accueillir sur la période de stage"
  = form.number_field :max_candidates,
                      class: "fr-input",
                      value: resource.max_candidates,
                      placeholder: "Nombre d'élèves prévus pour cette offre",
                      disabled: false,
                      required: true,
                      pattern: "[0-9]{1,5}",
                      inputmode: "numeric",
                      min: resource.is_a?(InternshipOffer) ? (resource.internship_applications.try(:approved).try(:count) || 0) : 0

