= form_with model: @planning,
            url: dashboard_stepper_plannings_path(entreprise_id: @entreprise.id),
            scope: :planning,
            data: { turbo: false },
            method: :post do |form|
  = render "dashboard/stepper/steps", { current_step_number: 3,
                                        total_steps: 3,
                                        current_step_title: "Votre annonce planning",
                                        next_step_title: "Publication de l'annonce" }
  = render "layouts/form_errors",
            resource: @planning,
            resource_name: :internship_offer

  = render 'dashboard/stepper/plannings/form_fields', { resource: @planning,
                                                        warning_block: true,
                                                        form: form,
                                                        submit_button: true }