#internship-agreements-panel.fr-tabs__panel.fr-tabs__panel--selected [
  data-controller='group-signing'
  data-group-signing-counter-value='0'
  data-group-signing-max-counter-value='0'
  aria-labelledby="tabpanel-404"
  role="tabpanel"
  tabindex="0"]

  = render 'dashboard/internship_agreements/shared/school_signature'
  = render partial: 'dashboard/internship_agreements/internship_agreements_list',
             locals: {internship_agreements: @internship_agreements}

#multi-internship-agreements-panel.fr-tabs__panel.fr-tabs__panel [
  data-controller='group-signing'
  data-group-signing-counter-value='0'
  data-group-signing-max-counter-value='0'
  aria-labelledby="tabpanel-405"
  role="tabpanel"
  tabindex="0"]

  = render 'dashboard/internship_agreements/shared/school_signature'
  = render partial: 'dashboard/internship_agreements/multi/multi_internship_agreements_list',
             locals: {internship_agreements: @multi_internship_agreements}
