.fr-alert.fr-alert--info.fr-mt-2w
  h3.fr-alert__title
    | La prévention des risques professionnels
  p 
    |
      Les élèves ne peuvent accéder aux machines, appareils ou produits dont l'usage est 
      proscrit aux mineurs par les articles D. 4153-15 à D. 4153-37 du code du travail. 
      Ils ne peuvent ni procéder à des manœuvres ou manipulations sur d'autres machines, 
      produits ou appareils de production ni effectuer des travaux légers autorisés aux 
      mineurs par ce même code.
  p
    |
      Le responsable de la structure d’accueil s’engage à prendre toutes
      les mesures nécessaires pour assurer la sécurité des élèves qui lui sont confiés.
  p
    |
      La prévention des risques professionnels comprend certaines transmissions
      de règles de sécurité qu’il convient d’observer pendant la période
      en milieu professionnel.
  p
    |
      En amont, les activités auxquelles l’élève participera doivent être formalisées dans
      le cadre de la convention de stage. Pour faciliter les échanges, notamment,
      en cas de survenue d’un accident, le nom du référent ainsi que les coordonnées
      de contact de l’établissement scolaire y sont indiqués.
  p
    |
      L’organisme d’accueil doit sensibiliser le jeune aux risques professionnels dès
      le démarrage du stage et présenter à l’élève les règles de sécurité, les moyens
      pour les prévenir, et le règlement intérieur, préalablement au début du stage.
  p
    | Les élèves doivent :
    ul
      li respecter toutes les consignes de sécurité instaurées ;
      li utiliser les équipements de protection collective et porter les équipements de protection individuelle qui sont fournis ;
      li solliciter le tuteur ou ses collègues en cas de difficultés ;
      li signaler les éventuelles situations à risque auprès du tuteur ;
      li rester concentrés et attentifs lors de la réalisation des activités auxquelles ils participent ;
      li ne jamais rester seuls sur un chantier, ni circuler, ni manipuler des machines ou engins dangereux.