<div class='onboarding-card onboarding-card-sm my-4' >
  <header class="header-account">
    <h1 class="h2 text-center">Renvoyer le message d'activation</h1>
  </header>

  <div class="body">
    <%= form_with(model: resource,
                  scope: resource_name,
                  url: confirmation_path(resource_name),
                  data: { turbo: false },
                  html: { method: :post }) do |f| %>
      <%= render "layouts/form_errors", resource: resource, resource_name: :user %>
      <p>
        Pour finaliser votre inscription, nous devons d’abord vérifier votre identité. Pour cela indiquez-nous l’adresse électronique associée à votre compte.
      </p>
      <label class="fr-label" for="user_email">Adresse électronique</label>
      <%= f.text_field :email, class: 'fr-input fr-mb-2w' %>
      <div class="actions d-flex d-sm-block text-center">
        <%= f.submit "Renvoyer", class: "fr-btn" %>
      </div>
    <% end %>
  </div>
</div>
