.actions.d-flex.d-sm-block.mb-0.justify-content-center data-controller="internship-offer"
  .actions.d-flex.text-center
    - if current_user.nil? && Flipper.enabled?(:application_inhibited)
      = link_to internship_offer.permalink,
            class: 'fr-btn disabled',
            target: "_blank",
            rel: "external noopener noreferrer",
            title: "Je postule sur #{operator_name(internship_offer)} (nouvelle fenêtre)",
            tabindex: -1,
            aria: { disabled: true },
            onclick: "return false;" do
        = "Postuler sur #{operator_name(internship_offer)}"
    - elsif current_user.nil?
      = link_to internship_offer.permalink,
              class: 'fr-btn',
              target: "_blank",
              rel: "external noopener noreferrer",
              title: "Je postule sur #{operator_name(internship_offer)} (nouvelle fenêtre)" do
        = "Postuler sur #{operator_name(internship_offer)}"
    - elsif current_user.student? && Flipper.enabled?(:application_inhibited)
      = link_to internship_offer.permalink,
                class: 'fr-btn disabled',
                target: "_blank",
                rel: "external noopener noreferrer",
                title: "Je postule sur #{operator_name(internship_offer)} (nouvelle fenêtre)",
                tabindex: -1,
                aria: { disabled: true },
                onclick: "return false;" do
        = "Postuler sur #{operator_name(internship_offer)}"
    - elsif current_user.student?
      = link_to internship_offer.permalink,
                class: 'fr-btn',
                target: "_blank",
                rel: "external noopener noreferrer",
                title: "Je postule sur #{operator_name(internship_offer)} (nouvelle fenêtre)",
                data: { action: 'click->internship-offer#applyCount', target: 'internship-offer.applyButton', internshipOfferId: internship_offer.id, userId: current_user.id, turbo: false } do
        = "Postuler sur #{operator_name(internship_offer)}"
