= form_for @waiting_list_entry,
           url: waiting_list_path,
           method: :post,
           data: {turbo: false} do |f|
  .fr-mx-2w
    h2.fr-h5 Indiquez votre adresse email ci-dessous, nous vous préviendrons de la date d’ouverture :
    .fr-my-2w [data-controller="maintenance-contact-form mandatory-fields"
              data-mandatory-fields-minimum-length-value= "6"]
      form
        .form-group
          label.fr-label for="email-field"
            | Email
          = f.email_field :email, placeholder: "Adresse email",
                          class: "fr-input",
                          id: "email-field",
                          required: true,
                          maxlength: "120",
                          pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,14}$",
                          :'data-mandatory-fields-target' => "mandatoryField",
                          :'data-action' => "input->mandatory-fields#fieldChange"

        .form-group.fr-my-2w
          = f.submit 'Envoyer',
                    class: "fr-btn",
                    :'data-mandatory-fields-target' => "disabledField"
