.custom-navbar {
  position: relative;
}
@include media-breakpoint-up(sm) {
  .homepage .custom-navbar {
    border-bottom: none;
  }
  .custom-navbar{
    border-bottom: 1px solid rgb(235,233,240);
  }
}
@include media-breakpoint-down(xs) {
  .custom-navbar{
    border-bottom: 1px solid rgb(235,233,240);
  }
}

.custom-navbar{
  .fr-link, .nav-link{
    text-decoration: none;
      border-bottom: 2px solid transparent;
    
      &:hover,
      &:active,
      &.active {
        color: $blue;
      }
    
      &:active,
      &.active {
        border-bottom-color: $blue;
        font-weight: bold;
      }
  }
  .nav-link {
    color: $gray-600;
  }
}

.dropdown-menu {
  background: #fff;
  border: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  min-width: 220px;
  padding: 0.25rem 0;
}

.dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid #E5E5E5; /* ou #dddddd selon ta charte DSFR */
  margin-bottom: 0; /* optionnel, pour éviter un espace supplémentaire */
}

.dropdown-item {
  color: #000091 !important;
  padding: 0.75rem 1rem;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
}

.dropdown-item i.fr-icon-settings-line {
  color: #000091;
  font-size: 1;
  background: none !important;
  border: none !important;
  margin-right: 0.5rem;
}

.dropdown-item:hover, .dropdown-item:focus {
  background: #f5f5fe !important;
  color: #000091 !important;
}

.btn.btn-link.dropdown-toggle {
  background: #f5f5fe !important;
  color: #000091 !important;
  border: none;
  box-shadow: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem 0.25rem 0 0;
}

.top-nav-container {
  overflow-x: hidden !important;
  border-bottom: 1px solid #E5E5E5;
}

.divider-full-width {
  width: 100vw;
  height: 1px;
  background: #dee2e6;
  margin-left: 50%;
  transform: translateX(-50%);
}

.vertical-separator {
  position: absolute;
  left: 50%;
  top: 0px;
  height: calc(100% - 0px);
  width: 1px;
  background: #B0B0B0;
  transform: translateX(-50%);
  z-index: 1;
}

.ou-separator {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  color: #888;
  padding: 0 0.75rem;
  font-size: 1rem;
  z-index: 2;
  font-weight: 500;
  letter-spacing: 0.05em;
}