body {
    font-family: 'Marianne', 'Arial', sans-serif;
}

:focus-visible {
    border: 2px solid $blue;
}

.no-visible-focus {
    &:focus-visible {
        border: none;
    }
}
.fr-raw-link:hover {
    text-decoration: none;
}
.container-homepage .fr-btn:hover {
    color: white;
}
.fr-btn.fr-btn--secondary:hover,
.fr-follow__social .fr-btn:hover {
    color: $blue-france;
}
a,
a:hover {
    text-decoration: none;
}

.homepage button.fr-btn--close{
    margin-right: 4px;
}

.d-hide-inline-sm {}

.visible-smaller-md {}

.homepage {
    overflow-x: hidden;
}

.fr-card__title.title-cards-in-a-row.home {
    min-height: 5rem;
    a {
        color: var(--text-title-grey);
    }
}

.light-blue-background {
    background-color: #F5F5FF;
}

.d-flex.ccm {
  .ccm-card {
    max-width: 310px;
    min-width: 310px;
    margin-top: 48px;
  }
  .separator {
    max-width: 80px;
    margin: 50px 20px;
  }
}

.logo-card{
  width: 270px;
  margin-right: 24px;
  border: 1px solid $light-grey;
  .header{
    img{
      max-width: 268px;
    }
  }
  .body{
    font-weight: bold;
    height: 112px;
    font-size: 18px;
    text-align: left;
    padding: 24px;
  }
}
.involved_partner_logo{
  text-align: center  ;
  img{
    max-height: 120px;
    width: 146px;
  }

}

.red-border {
    border: 2px solid red;
}

.container-monstage {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    position: relative;

    .sub-hero {
        color: $blue-france;
        .sub-hero-text {
            font-size: 1.125rem;
        }
    }
    .stamp-logo {
        margin-top: 4rem;
        max-width: 200px;

    }
    .sub-hero-maintenance{
        // color: $blue-france;
        font-size: 1.85rem;
        font-weight: normal;
        margin-top: -1.25rem;
    }
    h2.sub-hero-maintenance{
        font-size: 1.85rem;
        font-weight: 400 !important;
        margin-top: -1.25rem;
    }
}

.holidays-maintenance{
    max-width: 1200px;
    margin: auto;
    position: relative;
    height: 425px;
    .contact-form{
        position: absolute;
        display: block;
        top: 0 px;
        right: 0;
        overflow-y: visible;
        .form{
            padding: 24px;
            margin-right:24px;
            background-color: $grey-975 ;
            margin-top: 24px;
            max-width: 420px;
        }
    }

    .container-monstage.container-xl.homepage{
        max-width: 1200px;
        margin: auto;
        position: absolute;
        height: 100%;
    }
}
.maintenance #feedback-form > div > form > h2 {
    font-size: 1.5rem;
    margin-bottom: 24px;
}
.maintenance-empty-block {
    height: 350px;
    color: $grey-50;
};


.everyone, .school-management  {
    .container-monstage .stamp-logo {
        img{
           width: 100%;
        }
        display: block;
        margin-top: -50%;
        margin-left: -50%;
    }
}

.fr-card h3.std-height {

    height: 5.5rem;
}
.fr-card.without-arrow::before, .fr-card.without-arrow::after{
    display: none;
}
p.fr-card__desc.std-height {
    height: 5.5rem;
}

.container-monstage-fluid-hero {
    background-color: $blue-france;

    .white-search-frame {
      background-color: #FFF;
      margin-left: 0;
      margin-right: 32px;
      width: 100%;
      padding-bottom: 24px;
      margin-bottom: 24px;
    }
    .white-search-frame.mobile {
        padding-top: 24px;
        padding-bottom: 0px;
    }
}
.grey-container-fluid{
  background-color: $blue-france-975;
  padding: 0;
  margin: 0;
}
.partenaires-regionaux{
  .partner-btn{
    min-width: 300px;
    margin: 0 10px;
  }
}

.d-flex.ccm {
    .ccm-card {
        max-width: 310px;
        min-width: 310px;
        margin-top: 48px;
    }
    .separator {
        max-width: 80px;
        margin: 50px 20px;
    }
}

.red-frame {
    border: 2px solid red;
}
.visible{
    overflow: visible;
}
.header-cartel {
    p {
        margin-bottom: 0;
    }
    display: inline-block;
    border: 1px solid var(--light-background-action-high-blue-france, #000091);
    background: #FFF;
    box-shadow: 1px 1px 0 0 #000091, 2px 2px 0 0 #000091, 3px 3px 0 0 #000091, 4px 4px 0 0 #000091;
}
.default-grey {
    color: $grey-200;
}
@media (max-width: 450px) {
    .header-cartel {
        p {
            margin-bottom: 0;
            font-size: 0.85rem;
        }
    }
}
@media (768px <=width <=1138px) {
    .fr-tile-left-top-img .fr-tile__img {
        display: block;
    }
}
@media(1024px <= width <= 1218px) {
    .container-homepage .fr-card .fr-card__content {
        min-height: 220px;
    }
}
@media (min-width: 768px) {
    .bg-student-hero-image {
        background-image: url('../images/homepage/hero-illustration.svg');
        background-repeat: no-repeat;
        background-position: right bottom;
    }
    .bg-home-hero-image {
        background-image: url('../images/homepage/hero-illustration.svg');
        background-repeat: no-repeat;
        background-position: right bottom;
    }

    .fr-tile-left-top-img .fr-tile__img {
        align-items: start;
        margin: -3rem 0 2rem 2rem !important;
        justify-content: center;
    }

    .newsletter-button .fr-btn {
        align-items: end;
    }
}
@media(max-width: 450px) {
    .fr-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.bg-school-management-hero-image {
    background-image: url('../images/homepage/school-management.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
}

.fr-card-with-arrow::before {
    content: "" !important;
}

.newsletter-button .fr-btn {
    justify-content: center;
    align-items: center;
}

.fr-tile-left-top-img .fr-tile--horizontal-md {
    align-items: start;
}

.fr-card {
    background-color: white;
}

.fr-nav__link[aria-current] {
    background-color: $blue-france-light;
}

h1,
h2,
h3,
h4 {
    font-family: 'Marianne', 'Arial', sans-serif;
}
.title-cards-in-a-row {
    display: block;
    min-height: 4.5rem;
}
.desc-cards-in-a-row {
    display: block;
    min-height: 4.5rem;
}
.fr-card__desc.fr-text.home {
    font-size: 1rem;
}

img.covering {
    max-width: 100%;
    overflow: hidden;
    object-fit: contain;
}

.bg-white {
    color: $blue-france;
    background-color: white;
}
.bg-blue {
    color: white;
    background-color: $blue-france;
}
.wrapper {
    overflow-x: auto;
    display: flex;
    -webkit-overflow-scrolling: touch;
}
.btn-link {
    text-decoration: none !important;
}

.white {
    color: white !important;
}
.search-form {
    position: relative;
    top: -42px;
}

.almost-fitting {
    width: 90%;
}

.almost-fitting-even-more {
    width: 95%;
}

.fitting {
    object-fit: cover;
    width: 100%;
}

.link-step-1-2 {
    position: absolute;
    top: -140px;
    left: 400px;
    z-index: -1;
}

.link-step-2-3 {
    position: absolute;
    top: -270px;
    left: 440px;
    z-index: -1;
}

.nav-link.active {
    color: $bg-less-light-blue;
    font-weight: bolder;
}

.video-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 475px;
    max-height: 475px;
}

.video-ministry {
    .video-ministry-wrapper {
        position: relative;
        margin: 0 auto;
        max-width: 1200px;

    }

    .video-ministry-responsive {
        position: relative;
        display: block;
        width: 100%;
        overflow: hidden;
    }

    .video-ministry-responsive::before {
        display: block;
        content: "";
        padding-top: 56.25%;
        margin: auto;
    }

    .video-ministry-responsive-item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.video-shadow-frame {
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 450px;
    height: 450px;
}

.video-shadow {
    //is used in video iframe do not remove
    background-color: $blue;
    margin: 25px 0 0 25px;
    z-index: 2;
    width: 450px;
    height: 450px;
}

.video-responsive {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}

.video-responsive::before {
    display: block;
    content: "";
    padding-top: 100%;
    margin: auto;
}

.video-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
@include media-breakpoint-up(md) {
    .sticky-top-customed {
        @supports (position: sticky) {
            position: sticky;
            top: 0;
            z-index: $zindex-sticky;
        }
    }
    .text-center-left {
        text-align: left;
    }

    .text-center-right {
        text-align: right;
    }
    .text-md-center-right {
        text-align: right;
    }
    .flex-md-reverse-column {
        flex-direction: column-reverse !important;
    }
    .video-responsive {
        box-shadow: 25px 25px 0 $blue-france;
    }
    .visible-smaller-md {
        display: none;
    }
}
@include media-breakpoint-down(md) {
    .text-md-center-right {
        text-align: center;
    }
    .text-center-left {
        text-align: left;
    }
}
@include media-breakpoint-up(sm) {
    .flex-md-column {
        flex-direction: column !important;
    }
    .nav-pills-home .nav-link.active {
        border-right: 4px solid #DA000C;
    }
}
@include media-breakpoint-down(sm) {
    .d-hide-inline-sm {
        display: none;
    }

    .text-center-left {
        text-align: center;
    }

    .text-center-right {
        text-align: center;
    }
    .bg-cover-image-homepage {
        border-radius: 0;
    }

    .ms3e-blurry-badge {
        background: none;
    }
    .h1-text-hero {
        line-height: 150%;
        padding: 1rem;
    }

    .flex-md-reverse-column {
        flex-direction: column-reverse;
        .flex-md-column {
            text-align: center;
            display: block;
            .nav-link {
                display: inline-block;
            }
        }
    }
}

// pills customization
@include media-breakpoint-down(xs) {}

.bg-light-blue {
    background-color: $blue_light;
}

// nav pills
.nav-pills-home {
    .nav-link {
        border-radius: 0;
    }
    .nav-link.active {
        color: #100090;
        font-weight: bold;
        background-color: rgba(17, 0, 145, 0.13);
    }
}
.fr-header__tools-links .fr-links-group > :not(:last-child) > .fr-link::after {
    right: -1.5rem;
}


.fr-btn-white {
    background-color: #fff;
    color: #100090;
    border-color: #100090;
}

.fadded {
    opacity: 0.5 !important;
}
.fr-btns-group:where(:not(.fr-btns-group--sm):not(.fr-btns-group--lg)):not([class^=fr-btns-group--icon-]):not([class*=" fr-btns-group--icon-"]) .fr-btn[class*=" fr-fi-"],
.fr-btns-group:where(:not(.fr-btns-group--sm):not(.fr-btns-group--lg)):not([class^=fr-btns-group--icon-]):not([class*=" fr-btns-group--icon-"]) .fr-btn[class*=" fr-icon-"],
.fr-btns-group:where(:not(.fr-btns-group--sm):not(.fr-btns-group--lg)):not([class^=fr-btns-group--icon-]):not([class*=" fr-btns-group--icon-"]) .fr-btn[class^=fr-fi-],
.fr-btns-group:where(:not(.fr-btns-group--sm):not(.fr-btns-group--lg)):not([class^=fr-btns-group--icon-]):not([class*=" fr-btns-group--icon-"]) .fr-btn[class^=fr-icon-] {
    max-width: none;
    justify-content: center;
}


.quote-pro-lp .fr-quote {
   margin-left: 0
}

.fr-card__detail {
    line-height: 1rem !important;
}

// .container-monstage-fluid-hero .white-search-frame {
//   background-color: transparent !important
// }

.fr-follow__newsletter {
    .fr-input {
       background-color: #fff;
    }
}

.hero-cards-container {
    position: relative;
    width: 100%;
    min-height: 100px; 
    .fr-card {
      z-index: 4;
    }
    .content {
      z-index: 1;
    }

    .hero-stamp {
        position: absolute;
        top: -20%;
        right: -20%;
        max-width: 400px;
        z-index: 0;
    }
}