.development {
  border-top: 3px solid rgba($cyan, .5);
}

.staging {
  border-top: 3px solid rgba($red, .5);
}



.staging .fr-header__body {
  background-color: rgba($yellow, .35);
}

.development .fr-header__body {
  background-color: rgba($orange, .25);
}

.review .fr-header__body {
  background-color: rgba($purple, .15);
}


