version: 2.1
orbs:
  # node: circleci/node@6.1.0
  node: circleci/node@5.1.0
  browser-tools: circleci/browser-tools@1.5.3
jobs: # a collection of steps
  test:
    docker:
      - image: cimg/node:20.4.0-browsers
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run:
          command: |
            google-chrome --version
            chromedriver --version
          name: Check install
  build: # runs not using Workflows must have a `build` job as entry point
    working_directory: ~/project
    docker: # run the steps with Docker
      - image: cimg/ruby:3.4.7-browsers # ...with this image as the primary container; this is where all `steps` will run
        environment: # environment variables for primary container
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          PGHOST: 127.0.0.1
          PGUSER: monstage_test
          RAILS_ENV: test
          HOST: https://www.example.fr

      # - image: cimg/postgres:16.2-postgis # database image with support of current dir
      - image: cimg/postgres:15.6-postgis # database image with support of current dir
        environment: # environment variables for database
          POSTGRES_DB: monstage_test
          POSTGRES_USER: monstage_test
          POSTGRES_PASSWORD: monstage_test
      - image: circleci/redis:6.0.15-alpine
        environment:
          REDIS_URL: localhost:6379
    environment: # environment variables for all steps
      TZ: "Europe/Paris"

    steps: # a collection of executable commands
      - checkout # special step to check out source code to working directory

      - node/install:
          install-yarn: true
          node-version: '22.14'

      # Restore bundle cache
      # Read about caching dependencies: https://circleci.com/docs/2.0/caching/
      - restore_cache:
          keys:
            - monstage-bundle-cachebust{{ checksum "Gemfile.lock" }}
      - run:
          name: Install and Use Bundler 2.5
          command: |
            gem install bundler -v 2.5.23 --no-document
            unset BUNDLER_VERSION
            bundle _2.5.23_ install

      - run:
          name: versions
          command: |
            google-chrome --version
            node -v
            ruby -v
            yarn -v
            bundle -v
            gem list stringio

      # Store bundle cache for Ruby dependencies
      - save_cache:
          key: monstage-bundle-cachebust{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - restore_cache:
          name: Restore yarn cache
          keys:
            - montage-yarn-cachebust{{ checksum "yarn.lock" }}

      - run:
          name: Yarn Install
          command:  |
            yarn install --ignore-engines --cache-folder ~/.cache/yarn

      - run:
          name: Assets precompile
          command: bundle exec rake webpacker:compile

      - save_cache:
          name: Store yarn cache
          key: montage-yarn-cachebust{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m

      - run:
          name: Wait for redis
          command: dockerize -wait tcp://localhost:6379 -timeout 1m

      - run:
          name: Load DB schema
          environment:
            DATABASE_URL: "postgis://monstage_test:monstage_test@localhost:5432/monstage_test"
          command: |
            sudo apt-get update --allow-releaseinfo-change && sudo apt install postgresql-client
            bundle exec bin/rails db:create db:schema:load --trace

      - run:
          name: Run TestUnit
          command: PARALLEL_WORKERS=4 bundle exec rails test
      # beware, system tests on CI with more than 1 PARALLEL_WORKERS leads to OOM errors
      # - run:
      #     name: Run Desktop TestSystem with headless_chrome
      #     command: |
      #       mkdir test-results
      #       PARALLEL_WORKERS=1 ~/project/infra/test/system_desktop.sh
      # - store_artifacts:
      #     path: tmp/screenshots

      # - run:
      #     name: Run Mobile TestSystem with headless_chrome using chrome's iPhone 6 emulation
      #     command: PARALLEL_WORKERS=1 ~/project/infra/test/system_mobile.sh

      - run:
          name: Run Desktop w3c System with headless_chrome
          command: PARALLEL_WORKERS=1 ~/project/infra/test/system_w3c.sh

      - run:
          name: a11y validation
          command: ~/project/node_modules/.bin/pa11y-ci $(find ~/project/tmp/w3c/*.html -name '*.html')

      # Save test results for timing analysis
      - store_test_results: # Upload test results for display in Test Summary: https://circleci.com/docs/2.0/collect-test-data/
          path: test_results
      # See https://circleci.com/docs/2.0/deployment-integrations/ for example deploy configs

  deploy:
    docker:
      - image: buildpack-deps:trusty
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "64:44:1e:17:fb:00:ae:75:15:ba:d2:cb:ad:c2:95:ee"
            - "SHA256:Vf+oSncwt0iZXjJXZuowchMvKTQqLZfwDOXrFfuMmsc"
      - run:
          name: Deploy staging to Clever Cloud
          command: |
            set -x
            ssh-keyscan push-n3-par-clevercloud-customers.services.clever-cloud.com >>  ~/.ssh/known_hosts
            git remote add clever git+ssh://git@push-n3-par-clevercloud-customers.services.clever-cloud.com/$CLEVER_APP_ID.git
            git push -u clever review:master -f
workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - review

