.small-interline > p {
  margin: 0.3em 0.1rem 0.3rem 0;
  line-height: 0.8rem;
}
.month-lane{
  width:110px;
  padding-left: 10px
}
.month-score.blue-france{
  font-weight: bold;
}
.weeks-months{
  width: 570px;
  .weeks-list{
    overflow-x: hidden;
    .dates-column{
      width: 110px;
      padding-left: 10px;
    }
  }
}
.weeks-search-panel{
  position: absolute;
  right: 0;
  z-index: 100;
  margin-top: .5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  div[role="tabpanel"] {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  width: 598px;
  height: 397px;
  background-color: white;
}
button.select-like{
    display: block;
    width: 100%;
    border-radius: 0.25rem 0.25rem 0 0;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
    color: #161616;
    color: var(--text-label-grey);
    background-color: #eee;
    background-color: var(--background-contrast-grey);
    --idle: transparent;
    --hover: var(--background-contrast-grey-hover);
    --active: var(--background-contrast-grey-active);
    box-shadow: inset 0 -2px 0 0 #3a3a3a;
    box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
}