.bb-1 {
  border-bottom: 1px;
  border-bottom-style: solid;
}

.br-1{
  border-right: 1px;
  border-right-style: solid;
}
.bl-1{
  border-left: 1px;
  border-left-style: solid;
}
.b-4{
  border-width: 4px;
  border-style: solid;
}
.bt-light{
  border-color: rgba(0, 0, 0, 0.12);
}
.bc-light{
  border-color: $nav-tabs-border-color;
}
.bc-stats{
  border-color: rgb(73,61,96);
}

@include media-breakpoint-down(xs) {
  .rounded-xs-0{
    border-radius: 0
  }
}
.rounded-6{
  border-radius: 6px;
}
