@include media-breakpoint-up(md) {
  .container-homepage .search-container {
    background-color: $input-bg;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  }

  #weeks-container{
    position: absolute;
    z-index: 10;
    margin-top: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    div[role="tabpanel"] {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

}

.search-bar {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header .search-bar{
  padding-top: 8px;
}

.title-banner{
  margin: 0;
}

.search-no-result {
  width: 100%;
  height: 200px;
  background-image: url('../images/search-no-result.svg');
  background-position: center center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

.results-container {
  .results-col {
    width: calc(14.28571% + 570px) !important;
    top: 56px;
    .row {
      overflow-x: hidden;
    }
  }
  position: relative;
  min-height: 100vh;
}

.scrollable-content {
  overflow-y: auto;
  padding-right: 1rem;
}

.map-wrapper {
  position: relative;
}

.map-sticky-container {
  position: sticky;
  top: 0;
  height: 100vh;
}

.leaflet-container {
  width: 100% !important;
  height: 100vh !important;
  z-index: 9;
}

/* Masquer les styles en conflit */
.results-row {
  overflow: visible !important;
}

.map-container {
  height: 100vh;
}

.heart-full {
  width: 25px;
  height: 20px;
  background-image: url('../images/icons/full_heart.svg');
  background-position: center center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.heart-full:hover {
  cursor: pointer;
}

.heart-empty {
  width: 25px;
  height: 20px;
  background-image: url('../images/icons/empty_heart.svg');
  background-position: center center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
  cursor: pointer;
}

.heart-disabled {
  width: 25px;
  height: 20px;
  background-image: url('../images/icons/disabled_heart.svg');
  background-position: center center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
  cursor: not-allowed;;
}

.clear-button {
  cursor: pointer
}

a.leaflet-control-zoom-in,
a.leaflet-control-zoom-out {
  background-image: none;
}

// left for example
//#input-search-by-week[readonly=readonly]{
//   background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 5V1M14 5V1M5 9H15M3 19H17C18.1046 19 19 18.1046 19 17V5C19 3.89543 18.1046 3 17 3H3C1.89543 3 1 3.89543 1 5V17C1 18.1046 1.89543 19 3 19Z' stroke='%23767676' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
// }

.wrapper-sticky-with-offset{
  background-size: 100% 55px;
  background-repeat: no-repeat;
}

.fr-card {
  background-color: #f6f6f6;
}

.fr-card:hover {
  background-color: #f2f2f2;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.fr-modal, .fr-modal-title-modal-filter {
  z-index: 5000 !important;
}

.weeks-list {
  .custom-control-checkbox-list{
    overflow-x: hidden;
  }
}

@include media-breakpoint-up(xs) {
  .search-no-result {
    height: 110px;
  }
}