.fr-my-4w.fr-py-4w.mx-lg-0.fr-mx-2w
  .row 
    .col-md-6.col-sm-12
      h3.fr-pt-3w Découvrez le dispositif Mon stage de seconde générale et technologique

      p
        |
          Un stage est instauré pour l’ensemble des 560 000 élèves de seconde générale
          et technologique dès juin 2024. Ce stage d’observation se déroule en
          entreprise, en administration ou en association et dure deux semaines,
          du 17 au 28 juin 2024.
      p
        |
          Chaque lycéen peut ainsi approfondir sa découverte des métiers et être
          aidé à préparer ses choix d’orientation.
      p Nos conseils pour trouver le stage qui vous correspond →

      = link_to 'Découvrez une autre vidéo de présentation du dispositif',
                'https://youtu.be/T5CWlcHFiy0?si=ata6Sg3Y-6dKtZZQ',
                class: 'fr-btn fr-btn--tertiary fr-mt-2w',
                target: '_blank'
    .col-md-6.col-sm-12 data-controller="iframe-resizer"
      iframe [title="Présentation du dispositif Mon stage de seconde pour les élèves"
              width="560"
              height="315"
              data-iframe-resizer-target="iframe"
              src="https://tube-institutionnel.apps.education.fr/videos/embed/44bf4c51-eed5-4ceb-93b4-5f78fd922b2e?title=0&amp;warningTitle=0&amp;peertubeLink=0&amp;p2p=0"
              frameborder="0"
              allowfullscreen=""
              class="fr-mt-4w fr-mb-2w auto-resize-iframe"
              sandbox="allow-same-origin allow-scripts allow-popups"]