.mx-lg-0.fr-mx-2w.fr-py-4w
  .row
    .col-lg-8.col-md-8.col-sm-12
      h2.fr-h1.text-blue-france.pl-1.mb-0.pb-3
        | Ressources utiles
  .row.fr-pb-2w
    - base_url = "https://cellar-fr-north-hds-c1.services.clever-cloud.com/monstagedeseconde-public/"
    = render partial: "pages/home/resource_card",
              locals: { badge: "PDF",
                        link_title: "Fiche de présentation<br/> Élèves".html_safe,
                        file: "https://cellar-fr-north-hds-c1.services.clever-cloud.com/monstagedeseconde-public/Fiche_presentation_eleves.pdf",
                        target: '_blank' }
    / = render partial: "pages/home/resource_card",
              locals: { badge: "PDF",
                        link_title: "Carnet de bord du stagiaire",
                        file: "#{base_url}Carnet_de_bord_du_stagiaire.pdf",
                        target: '_blank' }
    = render partial: "pages/home/resource_card",
              locals: { badge: "PDF",
                        link_title: "Calendrier de stage à renseigner",
                        file: "https://cellar-fr-north-hds-c1.services.clever-cloud.com/monstagedeseconde-public/Calendrier_stage_a_remplir.pdf",
                        target: '_blank' }
    = render partial: "pages/home/resource_card",
              locals: { badge: "PDF",
                        link_title: "Exemple d'activités à proposer",
                        file: "https://cellar-fr-north-hds-c1.services.clever-cloud.com/monstagedeseconde-public/Activites_2de.pdf",
                        target: '_blank' }
    = render partial: "pages/home/resource_card",
              locals: { badge: "PDF",
                        link_title: "Grilles pour la séquence d'observation de 2de",
                        file: "https://cellar-fr-north-hds-c1.services.clever-cloud.com/monstagedeseconde-public/Grille_sequence_2de.pdf",
                        target: '_blank' }
