#internship-agreements-panel.fr-tabs__panel.fr-tabs__panel--selected [
  data-controller='group-signing'
  data-group-signing-counter-value='0'
  data-group-signing-max-counter-value='0'
  aria-labelledby="tabpanel-404"
  role="tabpanel"
  tabindex="0"]

  .row
    .col-12
      h1.h3
        | Éditer, imprimer et signez vos conventions dématérialisées


  = render partial: 'dashboard/internship_agreements/internship_agreements_list',
             locals: {internship_agreements: @internship_agreements}
