h1 Mon stage de seconde - Conditions générales d’utilisation de l’API
p Les présentes conditions générales d’utilisation, ci-après “CGU” définissent les conditions d’accès et d’utilisation de l’API de la Plateforme pour les “Partenaires”.

h2 Article 1 - Champ
p Le présent document a pour objet d’encadrer notamment les conditions dans lesquelles la Plateforme met à disposition son interface de programmation d’application (ci-après “API”) et les obligations qui y sont relatives.
p Toute utilisation de l’API est subordonnée à l’acceptation des présentes CGU. Ces dernières doivent être intégralement respectées.

h2 Article 2 - Objet
p La Plateforme met en place une API pour des Partenaires publics et privés qui déposent leurs offres de stage et les tiennent à jour.

h2 Article 3 - Définitions
p “API” : désigne l’interface de programmation applicative comprenant un ensemble de méthodes, fonctions et classes, mise à disposition par l’intermédiaire d’une interface dont l’objectif est d’offrir des Services.
p “Éditeur” : désigne la personne morale qui met à disposition des Utilisateurs la Plateforme.
p “Partenaires” : désigne les personnes de droit public ou privé qui accèdent à l’API et l’utilisent pour déposer des offres de stage.
p “Plateforme” : désigne le service numérique Monstagede3eme.
p “Services” : désigne les fonctionnalités offertes par l’API pour répondre aux besoins.
p “Utilisateur” : désigne toute Partenaire qui, en acceptant les présentes CGU, accède à l’API.

h2 Article 4 - Accès à l’API
p L’accès à l’API nécessite la demande auprès de l’équipe de la Plateforme via l’adresse e-mail suivante :
span
  = mail_to 'maxime.pierrot@monstagedetroisieme.fr', 'maxime.pierrot@monstagedetroisieme.fr', subject: "Demande d'accès à l'API de Mon stage de seconde"

p L’Utilisateur reçoit une clé d’accès à l’API sécurisée et unique lorsque la demande est validée par l’équipe de la Plateforme. Cet accès est conditionné à l’acceptation des présentes CGU.

h2 Article 5 - Fonctionnalités
p Les Utilisateurs de l’API ont notamment la possibilité de :
ul
  li Déposer une offre ;
  li Modifier une offre ;
  li Supprimer une offre ;
  li Récupérer les offres de stages de Mon stage de seconde, si l’accès est autorisé par les équipes.

h2 Article 6 - Responsabilités
h3 6.1 L’Éditeur de l’API
p L'Éditeur réalise ses meilleurs efforts pour permettre l’accès et l’utilisation de l’API conformément aux règles de l’art. L’Éditeur ne saurait donc assurer une accessibilité ou une disponibilité absolue des Services de l’API.
p L’Éditeur peut fermer temporairement ou définitivement l’API ou l’accès à un ou plusieurs Services de l’API pour effectuer une mise à jour, une maintenance ou des modifications, sans que cette liste ne soit limitative. Il s’efforce d’informer les Partenaires de ces fermetures planifiées.
p L’Éditeur ne peut être tenu responsable des dommages de toute nature qui peuvent résulter de ces indisponibilités ou modifications. Il ne peut notamment pas garantir ni l’absence de défauts ou d’erreurs éventuelles des données ni la fourniture continue de ces dernières.

h3 6.2 L’Utilisateur de l’API
p L’Utilisateur s’engage à fournir des informations exactes, complètes et à jour lors de sa demande d’accès à l’API.
p L’Utilisateur s’engage à ne pas utiliser l’API et ses Services pour des objectifs n’ayant pas de lien avec les offres de stage. Il s’engage notamment à ne pas utiliser l’API à des fins publicitaires ou pour mettre en ligne des contenus ou informations contraires aux dispositions légales et réglementaires en vigueur.
p En cas de perturbation de l’infrastructure de l’API ou d’utilisation abusive des Services par l’Utilisateur, l’Éditeur se réserve le droit de suspendre ou de supprimer l’accès de l’Utilisateur à l’API.
p Compte tenu de l’absence de garantie et de fiabilité de ces données et de disponibilité de l’API, l’Utilisateur assumera seul une action engageant sa responsabilité contractuelle ou extracontractuelle liée directement ou indirectement à son utilisation de l’API et ses Services.

h2 Article 7 - Mise à jour des conditions générales d’utilisation de l’API
p Les termes des présentes conditions générales d’utilisation peuvent être amendés à tout moment, sans préavis, en fonction des modifications apportées par la Plateforme, de l’évolution de la législation ou pour tout autre motif jugé nécessaire.
p Chaque modification des conditions générales d’utilisation donne lieu à une nouvelle version qui est acceptée par les parties dès leur connexion à l’API.










