= render 'layouts/breadcrumb', links: [ ['', "FAQ Offreurs"] ]
.row.fr-mb-6w
  .col-12
    h1.fr-h2.blue-france Besoin d'aide ?

    p
      em
        | Bonjour à toutes et à tous, vous trouverez ci-dessous la réponse aux
        |  questions les plus fréquemment posées sur l'utilisation de
        strong  la plateforme 1 élève 1 stage.
    p
      em
        | Si votre interrogation porte sur
        strong  le dispositif des stages d'observation
        | , sur la réglementation, vous trouverez les réponses sur
        a.fr-link< href="https://docs.numerique.gouv.fr/docs/b5ed9816-7a4b-4138-b3f5-f8afc95aa40e/" target="_blank" rel="noopener" la foire aux questions dédiée
        | .

    h2.fr-h4.blue-france.fr-mt-4w Déposer une offre de stage
    .fr-accordions-group.fr-mt-2w.fr-mb-4w
      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-offreur-1" aria-expanded="false"
            | Comment renouveler une offre lorsque l'on était déjà inscrit l'année précédente ?
        #accordion-offreur-1.fr-collapse
          .fr-text
            p
              | Les offres de stage de la précédente année scolaire
              |  apparaissent dans votre tableau de bord « Mes offres » avec un
              |  statut "Archivée. Dupliquez l'annonce pour la republier". Pour
              |  la renouveler, il suffit de cliquer sur le bouton « Dupliquer »
              |  dans la colonne Actions. Un formulaire s’ouvre dans lequel il
              |  suffit de confirmer/modifier les dates avant de valider en
              |  cliquant sur le bouton bleu « Dupliquer l’offre ».

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-offreur-2" aria-expanded="false"
            | Comment modifier l'adresse e-mail renseignée lors de la création du compte 1 Élève, 1 Stage ?
        #accordion-offreur-2.fr-collapse
          .fr-text
            p
              | Il suffit de se connecter à votre compte, allez dans le menu
              |  « Mon compte », puis dans l'onglet « Mon identité ». Vous
              |  pouvez y modifier l'adresse e-mail.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-offreur-3" aria-expanded="false"
            | Est-il possible d'utiliser une adresse fonctionnelle lors de l’ouverture d’un compte ?
        #accordion-offreur-3.fr-collapse
          .fr-text
            p
              | Oui, l’offreur choisit librement l’adresse qu’il souhaite
              |  utiliser, quel que soit son format.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-offreur-4" aria-expanded="false"
            | Les écoles disposent elles d'un SIRET ?
        #accordion-offreur-4.fr-collapse
          .fr-text
            p
              | Oui. Si vous ne le connaissez pas vous pouvez consulter le
              |  tutoriel Offreurs pour voir la procédure.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-offreur-5" aria-expanded="false"
            | Est-il possible d’accueillir un lycéen sur une seule semaine alors que l’offre porte sur deux semaines ?
        #accordion-offreur-5.fr-collapse
          .fr-text
            p
              | Oui, cette décision vous revient. Vous pouvez choisir
              |  d’accueillir des élèves pour les deux semaines ou sur seulement
              |  une des deux semaines. Les élèves concernés auront alors
              |  l’obligation de trouver un second lieu de stage.
            p
              | Toutefois les dates de la convention ne sont pas modifiables et
              |  porteront sur les 2 semaines de stage, et il sera impossible
              |  pour l’élève de postuler pour l'autre semaine de stage. Il est
              |  préférable d’annuler la candidature de l’élève et de créer une
              |  offre de stage portant uniquement sur la semaine que vous
              |  souhaitez proposer.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-offreur-6" aria-expanded="false"
            | Comment éviter que l'application insère automatiquement une adresse correspondant au SIRET lors de la création d'une offre par une école ?
        #accordion-offreur-6.fr-collapse
          .fr-text
            p
              | L'adresse du lieu de stage peut être différente de celle du
              |  "siège social" (ici le SIRET du ministère, du rectorat ou de la
              |  DSDEN). Il suffit de l’indiquer dans le champ dédié lors du
              |  dépôt de l'offre.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-offreur-7" aria-expanded="false"
            | Quel est le nombre maximum de membres pouvant être ajoutés à une équipe ?
        #accordion-offreur-7.fr-collapse
          .fr-text
            p
              | Il n’y a pas de limite technique. C’est à la discrétion de
              |  l’offreur.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-offreur-8" aria-expanded="false"
            | Une entreprise sans locaux, en full remote, peut-elle proposer des stages ?
        #accordion-offreur-8.fr-collapse
          .fr-text
            p
              | Non, il est recommandé d’avoir au minimum une organisation
              |  hybride avec des moments d’interaction en présentiel avec des
              |  professionnels.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-offreur-9" aria-expanded="false"
            | Les stages d’observation pour les élèves de seconde doivent-ils obligatoirement avoir lieu pendant la période fixée au plan national ?
        #accordion-offreur-9.fr-collapse
          .fr-text
            p
              | Oui, ces dates deux semaines consécutives fin juin sont
              |  identiques pour tous les élèves de seconde générale et
              |  technologique. L’offreur peut toutefois proposer des stages sur
              |  une seule de ces deux semaines.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-offreur-10" aria-expanded="false"
            | Peut-on proposer des stages à des élèves de 4ème ou de 3ème et ensuite à des élèves de seconde Générale et Technologique ?
        #accordion-offreur-10.fr-collapse
          .fr-text
            p
              | Oui, vous choisissez librement d’offrir des stages aux
              |  collégiens et/ou aux lycéens. Le calendrier n'est en effet pas
              |  le même : les élèves de seconde Générale et Technologique et
              |  les élèves de 3e de collège ne sont pas en stage en même temps.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-offreur-11" aria-expanded="false"
            | Pourquoi n'existe-t-il pas un champ libre pour les dates de stage, notamment pour les entreprises qui accueillent des stagiaires pendant les vacances scolaires ?
        #accordion-offreur-11.fr-collapse
          .fr-text
            p
              | Les séquences d'observation en milieu professionnel doivent
              |  avoir lieu sur le temps scolaire. Cela n'inclut donc pas les
              |  vacances scolaires.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-offreur-12" aria-expanded="false"
            | L’API permet-elle l’intégration d’offres de stage entre la plateforme "1élève1stage" et celles de partenaires ?
        #accordion-offreur-12.fr-collapse
          .fr-text
            p
              | Oui, cette fonctionnalité est disponible depuis la création de
              |  la plateforme en 2024, et elle est utilisée par de nombreux
              |  partenaires (régions, associations…). Au choix, l’échange peut
              |  être à double sens : 1élève1stage peut afficher des offres
              |  publiées par ses partenaires, et les partenaires de
              |  1élève1stage peuvent afficher les offres de 1élève1stage sur
              |  leurs propres plateformes.
            p
              | Vous trouverez plus d'informations en consultant notre
              a.fr-link< href="https://github.com/betagouv/monstagedeseconde/tree/review/doc/api/v2" target="_blank" rel="noopener" documentation API

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-offreur-13" aria-expanded="false"
            | Une offre reste-t-elle visible pour les élèves après validation du nombre maximal de candidatures acceptées par l'offreur ?
        #accordion-offreur-13.fr-collapse
          .fr-text
            p
              | L'offre reste visible tant que les candidats acceptés n'ont pas
              |  validé leur candidature. Elle est ensuite masquée
              |  automatiquement.
            p Vous n’avez donc pas à supprimer votre offre.

    h2.fr-h4.blue-france.fr-mt-4w Gérer les candidatures
    .fr-accordions-group.fr-mt-2w
      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-candidature-1" aria-expanded="false"
            | Existe-t-il un moyen de notifier les candidats non retenus afin qu’ils ne restent pas sans réponse ?
        #accordion-candidature-1.fr-collapse
          .fr-text
            p
              | Vous pouvez refuser une candidature reçue en cliquant sur
              |  "répondre" dans la colonne action du tableau de bord "les
              |  candidatures". Votre refus enverra automatiquement une
              |  notification à l'élève.
            p
              | Sans action de votre part, les élèves candidats seront
              |  automatiquement notifiés que leur candidature est expirée après
              |  un délai de 15 jours.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-candidature-2" aria-expanded="false"
            | Que deviennent les candidatures si l’organisme d’accueil ne répond pas dans un délai de 15 jours ?
        #accordion-candidature-2.fr-collapse
          .fr-text
            p
              | Les candidatures sont considérées comme "expirées" et sont
              |  accessibles dans l’onglet correspondant.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-candidature-3" aria-expanded="false"
            | Jusqu’à quand les élèves peuvent-ils déposer leur candidature ?
        #accordion-candidature-3.fr-collapse
          .fr-text
            p
              | Il est possible de déposer une candidature tant que la date de
              |  démarrage du stage n’est pas atteinte.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-candidature-4" aria-expanded="false"
            | Jusqu’à quand les structures d'accueil peuvent-elles déposer leurs offres ?
        #accordion-candidature-4.fr-collapse
          .fr-text
            p
              | Il est possible de déposer une offre tant que la date de
              |  démarrage du stage n’est pas atteinte.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-candidature-5" aria-expanded="false"
            | Peut-on réserver nos offres à certains élèves ?
        #accordion-candidature-5.fr-collapse
          .fr-text
            p
              | Oui, lors de la dernière étape du dépôt d'offre. Vous pouvez
              |  également cibler les lycées en QPV (Quartiers prioritaires de
              |  la politique de la ville) et/ou cibler les collèges en
              |  éducation prioritaire (REP, REP+), pour faciliter vos
              |  engagements en matière de RSE (responsabilité sociale et
              |  environnementale) ou d’égalité des chances.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-candidature-6" aria-expanded="false"
            | Comment partager une offre ?
        #accordion-candidature-6.fr-collapse
          .fr-text
            p
              | Pour partager une offre, il suffit de copier l’adresse (URL) de
              |  la page de l’offre dans le navigateur, puis de la coller dans
              |  un e-mail, un message ou tout autre support de communication.
              |  La personne qui clique sur ce lien accédera directement à
              |  l’offre concernée.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-candidature-7" aria-expanded="false"
            | Plusieurs élèves peuvent-ils postuler sur une même offre ? La structure d'accueil a-t-elle ensuite la possibilité de choisir l’élève retenu ?
        #accordion-candidature-7.fr-collapse
          .fr-text
            p
              | Oui, l’organisme qui dépose l’offre sélectionne librement les
              |  élèves qu’il souhaite accueillir.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-candidature-8" aria-expanded="false"
            | Comment accepter un élève précédemment refusé, par exemple en cas de désistement d’un autre candidat ?
        #accordion-candidature-8.fr-collapse
          .fr-text
            p
              | En tant qu'offreur, vous avez toujours la possibilité de
              |  retrouver des élèves dont vous avez refusé la candidature ou
              |  dont la candidature a « expiré » (= sans action/réponse de
              |  votre part au bout de 15 jours). Dans le menu "Candidatures",
              |  il suffit de cliquer sur l'onglet "Refusées" ou "Expirées" puis
              |  sur "Voir" au niveau de l'élève que vous souhaitez finalement
              |  accepter. Une page s'ouvre alors dans laquelle vous pouvez
              |  cliquer sur le bouton "retenir cette candidature". Sa
              |  candidature est alors déplacée dans votre onglet "acceptées"
              |  avec la mention "en attente de réponse". Une notification est
              |  envoyée au candidat retenu. S’il ne répond pas, il est possible
              |  de sélectionner un autre candidat. L’offre reste visible tant
              |  que l’offreur et le candidat retenu n’ont pas validé le
              |  processus.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-candidature-9" aria-expanded="false"
            | J'ai accepté une candidature mais l'élève n'a pas répondu dans les temps. Je souhaite toutefois retenir sa candidature, comment faire ?
        #accordion-candidature-9.fr-collapse
          .fr-text
            p
              | Il n'est pas possible de restaurer une candidature expirée
              |  faute de réponse d'un élève, et ce dernier ne peut pas postuler
              |  à nouveau. Si vous souhaitez l'accueil en stage, vous devez
              |  procéder hors plate-forme. Vous pouvez également dupliquer
              |  l'offre de stage et communiquer le lien à l'élève pour lui
              |  permettre de postuler.
