= render 'layouts/breadcrumb', links: [ ['', "FAQ Établissements"] ]
.row.fr-mb-6w
  .col-12
    h1.fr-h2.blue-france Besoin d'aide ?

    p
      em
        | Bonjour à toutes et à tous, vous trouverez ci-dessous la réponse aux
        |  questions les plus fréquemment posées sur l'utilisation de
        strong  la plateforme 1 Élève 1 Stage.
    p
      em
        | Si votre interrogation porte sur
        strong  le dispositif des stages d'observation
        |  ou sur la réglementation, vous trouverez les réponses sur
        a.fr-link< href="https://docs.numerique.gouv.fr/docs/b5ed9816-7a4b-4138-b3f5-f8afc95aa40e/" target="_blank" rel="noopener" la foire aux questions
        |  dédiée.

    h2.fr-h4.blue-france.fr-mt-4w Me connecter à la plateforme
    .fr-accordions-group.fr-mt-2w.fr-mb-4w
      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-etab-1" aria-expanded="false"
            | Dois-je créer un compte établissement ?
        #accordion-etab-1.fr-collapse
          .fr-text
            p
              | Non. Les comptes établissements sont créés automatiquement dans
              |  ARENA, le portail d'application des chefs d'établissement.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-etab-2" aria-expanded="false"
            | Doit-on se référencer avant de pouvoir accéder au site ?
        #accordion-etab-2.fr-collapse
          .fr-text
            p
              | Non. La plateforme est accessible via le portail ARENA,
              |  rubrique 'Scolarité du second degré' > 'Gestion des stages en
              |  entreprise'. Les offres de stage sont par ailleurs librement
              |  consultables par tous sans création préalable de compte.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-etab-3" aria-expanded="false"
            | Où trouver 1 Élève 1 Stage dans ARENA ?
        #accordion-etab-3.fr-collapse
          .fr-text
            p
              | Voir ARENA > Scolarité du second degré > Gestion des stages en
              |  entreprise.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-etab-4" aria-expanded="false"
            | Je suis à la fois structure d’accueil d’un stagiaire et établissement scolaire dont les élèves partent en stage. Comment accéder à la plateforme avec ces deux profils différents ?
        #accordion-etab-4.fr-collapse
          .fr-text
            p
              | Pour le moment, il n'est pas possible de gérer un établissement
              |  scolaire et un organisme d'accueil de stage depuis le même
              |  compte mais une solution alternative existe :
            p
              | En tant que personnel d'établissement scolaire dont les élèves
              |  partent en stage, vous avez accès à la plateforme via l'adresse
              |  email reliée à votre compte ARENA.
            p
              | En tant que structure d'accueil, vous devez créer un compte
              |  offreur
              strong  avec une autre adresse email.
              |  Rendez-vous sur notre FAQ "offreurs" en cas de questions sur
              |  votre expérience de structure d'accueil de stages.

    h2.fr-h4.blue-france.fr-mt-4w Suivre les candidatures de mes élèves
    .fr-accordions-group.fr-mt-2w.fr-mb-4w
      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-etab-5" aria-expanded="false"
            | Je ne vois pas d'élèves dans les classes de mon établissement, ou seulement une partie
        #accordion-etab-5.fr-collapse
          .fr-text
            p
              | Nouveauté 2026 : les élèves doivent au préalable se connecter à
              |  leur espace avec leurs identifiants Educonnect pour être
              |  visible dans leur établissement.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-etab-6" aria-expanded="false"
            | Que faire si mon nom n'apparaît pas dans la liste des personnels de l’établissement lorsque je me connecte ?
        #accordion-etab-6.fr-collapse
          .fr-text
            p
              | Tous les personnels de l'établissement ont accès à toutes les
              |  classes dès leur première connexion à 1 Élève 1 Stage.
              |  Néanmoins, il peut arriver qu'un personnel ne soit pas reconnu
              |  par la plateforme. Dans ce cas, le chef d'établissement a la
              |  main pour inviter manuellement ce personnel à rejoindre son
              |  équipe (voir tutoriel).

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-etab-7" aria-expanded="false"
            | J'interviens sur 2 établissements différents. Puis-je avoir accès à toutes mes classes sur la plateforme ?
        #accordion-etab-7.fr-collapse
          .fr-text
            p
              | Par principe vous n’avez accès qu’à un seul établissement. Si
              |  vous souhaitez accéder à un second établissement, vous devez
              |  vous adresser à l’équipe d’assistance.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-etab-8" aria-expanded="false"
            | Peut-on déléguer le suivi d'une ou plusieurs classes sur la plateforme (à un CPE, à un autre personnel,…) ?
        #accordion-etab-8.fr-collapse
          .fr-text
            p
              | Oui, le suivi peut être délégué à tout personnel ajouté à
              |  l’onglet "Personnels".

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-etab-9" aria-expanded="false"
            | Est-ce que les élèves reçoivent un message quand ils ne sont pas retenus par la structure d'accueil qui a proposé un stage ?
        #accordion-etab-9.fr-collapse
          .fr-text
            p
              | Oui. Dans le cas où la structure d'accueil ne retient pas votre
              |  candidature, l'élève est informé automatiquement.
            p
              | Après 15 jours sans traitement de sa candidature, l’élève est
              |  informé automatiquement que celle-ci est expirée, ce qui
              |  n'empêche pas la structure d'accueil de l'accepter ou la
              |  refuser ultérieurement.

    h2.fr-h4.blue-france.fr-mt-4w Signer des conventions
    .fr-accordions-group.fr-mt-2w.fr-mb-4w
      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-etab-10" aria-expanded="false"
            | Lorsque la convention est validée, l'entreprise reçoit-elle un mail pour la signer ? Et l'établissement reçoit-il une confirmation de signature ?
        #accordion-etab-10.fr-collapse
          .fr-text
            p
              | Oui, une notification est envoyée à l’entreprise pour
              |  signature. L’élève et l’établissement reçoivent également une
              |  notification.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-etab-11" aria-expanded="false"
            | Peut-on imprimer une convention ?
        #accordion-etab-11.fr-collapse
          .fr-text
            p
              | La convention peut être imprimée par tous les signataires
              |  depuis la plateforme.
            p
              | Un modèle de cette convention vierge est disponible dans
              |  l'espace ressources.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-etab-12" aria-expanded="false"
            | La signature des responsables légaux est-elle obligatoire ?
        #accordion-etab-12.fr-collapse
          .fr-text
            p
              | Oui, l'élève est sous statut scolaire, le stage se déroule
              |  pendant et sur le temps scolaire et donc sous la responsabilité
              |  de son établissement. La convention de stage lie
              |  l’établissement et la structure d'accueil. L'élève, ou son/ses
              |  représentant(s) légal/légaux, si l'élève est mineur,
              |  doit/doivent également signer la convention.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-etab-13" aria-expanded="false"
            | Le chef d'établissement signe-t-il sans contrôle du lieu et des horaires de stage ?
        #accordion-etab-13.fr-collapse
          .fr-text
            p
              | Avant de signer la convention, le représentant de
              |  l’établissement a accès à l’ensemble des données utiles en
              |  consultant la convention en attente de signature.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-etab-14" aria-expanded="false"
            | Peut-on modifier le modèle de convention mis à disposition sur la plateforme ?
        #accordion-etab-14.fr-collapse
          .fr-text
            p
              | Non, la convention correspond au cadre formel proposé par le
              |  Ministère.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-etab-15" aria-expanded="false"
            | Peut-on saisir une convention papier sur la plateforme ?
        #accordion-etab-15.fr-collapse
          .fr-text
            p
              | Seule la convention générée sur la plateforme peut être
              |  utilisée car elle est complétée par les données personnelles de
              |  l'élève (issues de SIECLE) et des données personnelles de
              |  l'entreprise issues de l'offre de stage. Une convention
              |  "papier" ne peut pas être intégrée a posteriori dans la
              |  plateforme.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-etab-16" aria-expanded="false"
            | Notre établissement souhaite signer en dernier la convention que ce soit en ligne ou hors site. Est-ce possible ?
        #accordion-etab-16.fr-collapse
          .fr-text
            p
              | La plateforme n’impose pas d’ordre de signature car aucune
              |  norme de droit ne l'impose.
            p
              | L’établissement peut signer en dernier ou en premier, selon le
              |  choix.

      section.fr-accordion
        h3.fr-accordion__title
          button.fr-accordion__btn type="button" aria-controls="accordion-etab-17" aria-expanded="false"
            | Qui peut signer la convention sur la plateforme ?
        #accordion-etab-17.fr-collapse
          .fr-text
            p
              | Tout personnel de l’établissement peut signer les conventions
              |  sur la plateforme au nom du chef d’établissement.
            p
              | Celui-ci dispose du droit d’ajouter ou de supprimer une
              |  délégation de signature directement depuis son espace sur la
              |  plateforme.

    p.fr-mt-4w
      strong
        | A quoi ressemble la convention de stage générée par la plateforme ?
    p
      a.fr-link.fr-icon-file-pdf-line.fr-link--icon-left href="https://docs.numerique.gouv.fr/media/71869ef3-b3a6-4515-b372-989f0fa6974d/attachments/2483504d-5fb4-4e18-ba6e-74ef9458de12.pdf" target="_blank" rel="noopener"
        | Convention_de_stage_exemple_fictif.pdf
