= render 'dashboard/students/internship_agreements/states_presenter',
         internship_agreement: @internship_agreement

/ = render "dashboard/internship_offers/internship_applications/convention_signed_modal",
         internship_application:student_internship_application
