- options = { id: "axe-#{id}",
              class: 'fr-toggle__input',
              :'aria-describedby' => "#{id}-hint-text",
              title: 'Publier / Masquer' }

.fr-toggle
  = check_box_tag 'toggle_publish',
                  published,
                  published,
                  options
  = label_tag id, '', class: "fr-toggle__label"
  = image_submit_tag(vite_asset_path('images/active_pin.svg'),
                      class: 'd-none',
                      name: 'toggle_publish',
                      id: "toggle-image-submit-#{id}",
                      alt: 'Publier / Masquer')