.row.mt-0.fr-mx-2w
        .fr-alert.fr-alert--info role="alert"
          h3.fr-alert__title Merci de détailler précisément le planning et les activités prévues.
          p |
              Indiquez le nom de chaque structure d’accueil et les jours exacts où
              elle recevra l’élève. Cette information ne figurera nulle part
              ailleurs dans la convention : soyez aussi clair et précis que possible.
          button[title="Masquer le message"
                 onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)"
                 type="button"
                 class="fr-btn--close fr-btn"]