- unless params[:sans_signalement]
  a data-fr-opened="false" aria-controls="modal-inappropriate-offer" href="#" role="button" class="fr-raw-link"
    span class="fr-link--icon-left fr-text--sm fr-btn fr-btn--tertiary-no-outline fr-icon-flag-line fr-btn--sm"
    |Signaler cette offre