#multi-agreements-button-panel [class="fr-tabs__panel"
                                aria-labelledBy="multi-agreements-button"
                                role="tabpanel"
                                tabindex="0"]