<% if @banner_message['top_banner.visible'].value %>
  <div class="fr-notice fr-notice--info d-none d-sm-block">
    <div class="fr-container" >
      <div class="fr-notice__body" >
        <div class="fr-notice__title fr-mb-0">
          <%= prismic_structured_text_to_html(@banner_message['top_banner.text']) %>
        </div>
      </div>
    </div>
  </div>
<% end %>