p style=head_styles
  = "#{@internship_application.internship_offer.employer_name} a annulé votre candidature au stage \"#{@internship_application.internship_offer.title}\" pour le motif suivant :"
br

= simple_format(@internship_application.canceled_by_employer_message)

