= render "dashboard/internship_offers/internship_applications/action_modal",
          internship_application: internship_application,
          aasm_target: :reject!,
          modal_opener_label: 'Refuser',
          subtitle: 'Motif de refus de stage*',
          message: "En cliquant sur “refuser”, vous confirmez que vous ne souhaitez " \
                              "pas prendre cet élève en stage. Celui-ci sera informé de votre décision.",
          rich_text: true,
          modal_id: "reject-internship-application-#{internship_application.id}",
          fa_icon: "fr-icon-close-line",
          token: defined?(token) ? token : nil,
          opened_modal: defined?(opened_modal) ? opened_modal == 'refuse' : false

